
 <% @page_title = "Update Admin User " %>
 
	<%= link_to("<<Back to index",{:action =>:index},:class=>'back-link') %>
  
<div class ="user edit">
	<h2> Admin User edit </h2>

	 <%= form_for(:admin_user,:url => {:action =>'update', :id => @admin_user.id}) do |f| %>

	 <%#= form_for :admin_user, url: { action: "update",:id => @admin_user.id } do |f| %>

	    <%= render(:partial =>'form', :locals =>{:f => f}) %>
     
          <%#= f.hidden_field :id, value: @admin_user.id %>
	   <div class ="form_buttons">
	    <%=submit_tag("update admin user") %>
	   </div>
    <% end %>
</div>