<%= link_to("<<Back to list",{:action=> :index}, :class=> 'action index') %>
  
   <div class="Sections edit">
   	 <h2>Edit Page </h2>

   	  <%= form_for :section, url: { action: "update",:id=> @section.id,:page_id => @page.id, :subject_id => @subject_id } do |f| %>

   	    <%#= form_for :page, url: { action: "update", :id=> @page.id,:subject_id => @subject.id } do |f| %>

          <%= render(:partial => "form" , :locals => {:f => f}) %>
         
           <div class="form-buttons">
 	    	   <%= submit_tag("update sections") %>
 	        </div>

        <% end %>
</div>